{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% block extrastyle %}
<style>
 td.td_os span,
 td.td_v_unit span,
 td.td_v_simp span,
 td.td_v_cimp span,
 td.td_t_simp span,
 td.td_t_geral span
 {
     white-space:nowrap;
 }
</style>
{% endblock %}
{% block content %}
<div id="report_title">
	<h1>Custos dos recursos contratados</h1>
	<div id="report_toolbar">
		<form action="{% url 'rede.views.custo_terremark' %}" method="GET" id="id_form_recurso">
		    <div title="Imprimir" class="btn_print">
		       <input type="submit" title="Versão para impressão" class="btn_print" name="acao" value="1"  />
		    </div>
		    <div title="Exportar para Excel" class="btn_excel">
		       <input type="submit" name="acao" value="2"  />
		    </div>
                    <div style="padding-left:15px; float:left;">
                       <label for="id_estado" style="font-weight:bold;">Filtro por estado da OS: </label>
 		       <select name="estado" id="id_estado" onchange="javascript: document.forms['id_form_recurso'].submit()">
                          <option value="0">Todos</option>
                          {% for e in estados %}
                          <option value="{{ e.id }}" {% if e.id == selected %}selected{% endif %}>{{ e.nome }}</option>
                          {% endfor %}
                       </select>
                    </div>
		</form>
	</div>
</div>
<table>
<tr>
    <th>Contrato</th>
    <th>OS</th>
    <th>Data Ini.</th>
    <th>Data Fim</th>
    <th>Projeto</th>
    <th>Descrição</th>
    <th>Referente</th>
    <th>Unidade</th>
    <th>Preço unitário</th>
    <th>Qtd</th>
    <th>Custo mensal sem imposto</th>
    <th>Custo mensal com imposto</th>
    <th>Meses pagos</th>
    <th>Total sem imposto</th>
    <th>Total com imposto</th>
    <th>Nota fiscal</th>
<tr>
{% for r in recursos %}
   <tr>
     <td><a href="{% url 'admin:outorga_contrato_change' r.planejamento.os.contrato.id %}">{{ r.planejamento.os.contrato.numero }}</a></td>
     <td class="td_os"><span><a href="{% url 'admin:outorga_ordemdeservico_change' r.planejamento.os.id %}">{{ r.planejamento.os }}</a></td>
     <td>{{ r.planejamento.os.data_inicio|date:"d/m/Y" }}</span></td>
     <td>{{ r.planejamento.os.data_rescisao|date:"d/m/Y" }}</span></td>
	 <td>{{ r.planejamento.projeto }}</td>
	 <td>{{ r.planejamento.tipo }}</td>
	 <td>{{ r.planejamento.referente }}</td>
	 <td>{{ r.planejamento.unidade }}</td>
	 <td class="td_v_unit"><span>{{ r.planejamento.valor_unitario|moeda }}</span></td>
	 <td>{{ r.planejamento.quantidade }}</td>
	 <td class="td_v_simp"><span>{{ r.valor_mensal_sem_imposto|moeda }}</span></td>
	 <td class="td_v_cimp"><span>{{ r.valor_imposto_mensal|moeda }}</span></td>
	 <td>{{ r.quantidade }}</td>
	 <td class="td_t_simp"><span>{{ r.total_sem_imposto|moeda }}</span></td>
	 <td class="td_t_geral"><span>{{ r.total_geral|moeda }}</span></td>
	 <td><a href="{% url 'admin:financeiro_pagamento_change' r.pagamento.id %}">{{ r.pagamento.protocolo.num_documento }}</a></td>
   </tr>
{% endfor %}
</table>
{% endblock %}
