{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br" >
<head>
	<meta HTTP-EQUIV="Refresh" CONTENT="300">
	<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<link rel="stylesheet" type="text/css" href="{% static "css/monitor.css" %}" media="screen" /> 
	<title>Gráfico do link - {{ link.descricao }}</title>
</head>

<body>
	<div id="root">
		<span class="logo"></span>
		<h2>Tráfego do link - {{ link.descricao }}</h2>
		
		<span class="indice-grafico"><em>Entrada</em><img class="bullet" src="{% static "img/verde.png" %}"> <em>Saída</em><img class="bullet" src="{% static "img/azul.png" %}"></span>
		
		<p>
		<h4 class="title-grafico">Um dia</h4>
		<IMG class="grafico" SRC="http://143.108.30.25/rtgplot.cgi?t1=if{{ link.t1 }}Octets_{{ link.roteador }}&t2=if{{ link.t2 }}Octets_{{ link.roteador }}&{% for p in link.portas %}iid={{ p }}&{% endfor %}begin={{ link.dia }}&end={{ link.agora }}&units=bits/s&factor=8&scalex=yes&{% if link.aggr %}aggr=yes{% else %}filled=yes{% endif %}">
		</p>
		
		<p>
		<h4 class="title-grafico">Uma semana</h4>
		<IMG class="grafico" SRC="http://143.108.30.25/rtgplot.cgi?t1=if{{ link.t1 }}Octets_{{ link.roteador }}&t2=if{{ link.t2 }}Octets_{{ link.roteador }}&{% for p in link.portas %}iid={{ p }}&{% endfor %}begin={{ link.semana }}&end={{ link.agora }}&units=bits/s&factor=8&scalex=yes&{% if link.aggr %}aggr=yes{% else %}filled=yes{% endif %}">
		</p>
		
		<p>
		<h4 class="title-grafico">Um mês</h4>
		<IMG class="grafico" SRC="http://143.108.30.25/rtgplot.cgi?t1=if{{ link.t1 }}Octets_{{ link.roteador }}&t2=if{{ link.t2 }}Octets_{{ link.roteador }}&{% for p in link.portas %}iid={{ p }}&{% endfor %}begin={{ link.mes }}&end={{ link.agora }}&units=bits/s&factor=8&scalex=yes&{% if link.aggr %}aggr=yes{% else %}filled=yes{% endif %}">
		</p>
		
		<p>
		<h4 class="title-grafico">Um ano</h4>
		<IMG class="grafico" SRC="http://143.108.30.25/rtgplot.cgi?t1=if{{ link.t1 }}Octets_{{ link.roteador }}&t2=if{{ link.t2 }}Octets_{{ link.roteador }}&{% for p in link.portas %}iid={{ p }}&{% endfor %}begin={{ link.ano }}&end={{ link.agora }}&units=bits/s&factor=8&scalex=yes&{% if link.aggr %}aggr=yes{% else %}filled=yes{% endif %}">
		</p>
		
	</div>
</body>
</html>
