{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% block content %}
<style>
    #tbl_consolidado td {
        white-space:nowrap;
    }
    #tbl_consolidado td:nth-child(4),
    #tbl_consolidado td:nth-child(5),
    #tbl_consolidado td:nth-child(6) {
        white-space:nowrap;
    }
    
    .tbl_acordos td:nth-child(1) {
        white-space:nowrap;
    }
</style>
<h1 repeat="1"></h1>

    <table id="tbl_consolidado" border="0" repeat="1" cellpadding="5">
    <tr><th colspan="2"></th>
    {% for t in termos %}
       <th>Processo {{ t }}<br />{{ t.inicio|date:"d/m/Y" }}<br />a<br />{{ t.termino|date:"d/m/Y" }}</th>
    {% endfor %}
    </tr>
    {% for a in acordos %}
    <tr>
       <td>{{ a.nome }}</td>
       <td>Concedido<br />Realizado<br />Saldo</td>
       {% for t in a.termos %}
          <td>
          {% if t.tem_real %}{{ t.concedido_real|moeda }}<br />{{ t.realizado_real|moeda }}<br />{{ t.saldo_real|moeda }}<br />{% endif %}
          {% if t.tem_dolar %}{{ t.concedido_dolar|moeda:0 }}<br />{{ t.realizado_dolar|moeda:0 }}<br />{{ t.saldo_dolar|moeda:0 }}<br />{% endif %}
          </td>
       {% endfor %}
    </tr>
    {% endfor %}
    </table>

    {% for a in acordos %}
    <h4>{{ a.nome }}</h4>
    <table border="0" class="tbl_acordos">
       <tr>
        <th width="6%">Termo</th>
        <th width="54%">Item da outorga</th>
        <th width="10%">Entidade</th>
        <th width="10%">Concedido</th>
        <th width="10%">Realizado</th>
        <th width="10%">Saldo</th>
       </tr>
       {% for t in a.termos %}
          {% for item in t.itens %}
             <tr><td>{% if forloop.counter == 1 %}{{ t.termo }}{% endif %}</td>
                 <td>{{ item.item.descricao }}</td><td>{{ item.item.entidade }}</td>
                 {% if item.item.natureza_gasto.modalidade.moeda_nacional %}
                     <td>{{ item.concedido|moeda }}</td><td>{{ item.realizado|moeda }}</td><td>{{ item.saldo|moeda }}</td>
		 {% else %}
		     <td>{{ item.concedido|moeda:0 }}</td><td>{{ item.realizado|moeda:0 }}</td><td>{{ item.saldo|moeda:0 }}</td>
		 {% endif %}</tr>
          {% endfor %}
       {% endfor %}
    </table>
    {% endfor %}
{% endblock %}

