{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">{% trans "Home" %}</a> &rsaquo; 
      <a href="{% url 'outorga.views.contratos' %}">Contratos por entidade</a>
    </div>
{% endblock %}
{% block content %}
<h1 repeat="1">Contratos por entidade</h1>
    <table border="0" repeat="1" cellpadding="5">
    {% for e in entidades %}
        <tr><th>{{ e.entidade }}</th></tr>
        {% for c in e.contratos %}
            <tr>
	            <td></td>
	            <td>Início {{ c.inicio|date:"d/m/Y" }}</td>
	            <td>Término {{ c.termino|date:"d/m/Y" }}</td>
			    <td><a href="/admin/outorga/contrato/{{ c.id }}/">{{ c.numero }}</a></td>
			    <td>{% if c.arquivo %}<a href="{{ c.arquivo.url }}">arquivo</a>{% endif %}</td>
			    <td>{% if c.auto %}Auto{% endif %}</td>
                <td></td>
                <td></td>
			</tr>
		    {% for os in c.os %}
		        <tr>
		            <td></td>
		            <td></td>
		            <td>Início<br />{{ os.data_inicio|date:"d/m/Y" }}</td>
		            <td>Término<br />{{ os.data_rescisao|date:"d/m/Y" }}</td>
		            <td><a href="/admin/outorga/ordemdeservico/{{ os.id }}/">{{ os.tipo.nome }} - {{ os.numero }}</a></td>
		            <td width="30%">{{ os.descricao }}</td>
		            <td>{% for a in os.arquivos.all %}<a href="{{ a.arquivo.url }}" target="_blank">arquivo</a> - {% endfor %}</td>
		            <td>{{ os.estado }}</td>
		        </tr>
		    {% endfor %}
	    {% endfor %}
    {% endfor %}
    </table>
{% endblock %}
