{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% block content %}
<h1 repeat="1">Inventário por local</h1>
<h4><a href="{% url 'patrimonio.views.por_local' 1 %}?endereco={{ request.GET.endereco }}&detalhe2={{ request.GET.detalhe2 }}&detalhe1={{ request.GET.detalhe1 }}&detalhe={{ request.GET.detalhe }}">Imprimir</a></h4>
        
           
{% comment %}
    <form action="{% url 'patrimonio.views.por_estado' 1 %}" method="GET">
       <input type="hidden" value="{{ termo.id }}" name="termo" />
       <input type="submit" value="Versão para impressão" />
    </form> {% endcomment %}

<h4>{% if endereco %}{{ endereco }}{% else %}{{ detalhe.endereco }} - {{ detalhe }}{% endif %}</h4>
 
<table border="0" repeat="1" cellpadding="5">
    <tr>
        <th>ID</th>
        {% if endereco %}<th>Local</th>{% endif %}
        <th>Procedência</th>
        <th>NF</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Part number</th>
        <th>Descrição</th>
        <th>NS</th>
        <th>Estado</th>
    </tr>
    {% for d in detalhes %}
        <tr>
            <td></td>
            {% if endereco %}<td>{{ d.detalhe }}</td>{% endif %}
            <td colspan="9"></td>
        </tr>
        {% for p in d.patrimonio %}
              <tr>
              <td>{{ p.id }}</td>
              {% if endereco %}<td></td>{% endif %}
              <td>{{ p.procedencia }}</td>
              <td>{{ p.pagamento.protocolo.num_documento }}</td>
              <td>{{ p.equipamento.entidade_fabricante.sigla }}</td>
              <td>{{ p.modelo }}</td><td>{{ p.part_number }}</td>
              <td>{{ p.descricao }} - {{ p.complemento }}</td>
              <td>{{ p.ns }}</td>
              <td>{{ p.historico_atual.estado }}</td>
              </tr>
              {% for f in p.contido.all %}
                 <tr style="color:#0000ff;">
	                 <td></td>
	                 <td>{{ f.procedencia }}</td>
	                 <td>{{ f.pagamento.protocolo.num_documento }}</td>
	                 <td>{{ f.equipamento.entidade_fabricante.sigla }}</td>
	                 <td>{{ f.modelo }}</td>
	                 <td>{{ f.part_number }}</td>
	                 <td>{{ f.descricao }}</td>
	                 <td>{{ f.ns }}</td>
	                 <td>{{ f.historico_atual.estado }}</td>
                 </tr>
                  {% for g in f.contido.all %}
                     <tr style="color:#ff0000;">
	                     <td></td>
	                     <td>{{ g.procedencia }}</td>
	                     <td>{{ g.pagamento.protocolo.num_documento }}</td>
	                     <td>{{ g.equipamento.entidade_fabricante.sigla }}</td>
	                     <td>{{ g.modelo }}</td>
	                     <td>{{ g.part_number }}</td>
	                     <td>{{ g.descricao }}</td>
	                     <td>{{ g.ns }}</td>
	                     <td>{{ g.historico_atual.estado }}</td>
                     </tr>
                     {% for h in g.contido.all %}
                        <tr style="color:#00ff00;">
	                        <td></td>
	                        <td>{{ h.procedencia }}</td>
	                        <td>{{ h.pagamento.protocolo.num_documento }}</td>
	                        <td>{{ h.equipamento.entidade_fabricante.sigla }}</td>
	                        <td>{{ h.modelo }}</td>
	                        <td>{{ h.part_number }}</td>
	                        <td>{{ h.descricao }}</td>
	                        <td>{{ h.ns }}</td>
	                        <td>{{ h.historico_atual.estado }}</td>
                        </tr>
                     {% endfor %}
                 {% endfor %}
              {% endfor %}
        {% endfor %}
    {% endfor %}
</table>

{% endblock %}
