{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">{% trans "Home" %}</a> &rsaquo; 
      <a href="{% url 'patrimonio.views.por_tipo_equipamento' %}">Inventário por tipo de equipamento</a>
    </div>
{% endblock %}
{% block content %}
<h1 repeat="1">Inventário por tipo de equipamento</h1>
{% comment %}
    <form action="{% url 'patrimonio.views.por_tipo_equipamento' 1 %}" method="GET">
       <input type="hidden" value="{{ termo.id }}" name="termo" />
       <input type="submit" value="Versão para impressão" />
    </form> {% endcomment %}

    <h4>Tipo {{ tipo }}</h4>
 
    <table border="0" repeat="1" cellpadding="5">
    <tr>
    	<th>Entidade</th>
    	<th>Local</th>
    	<th>Posição</th>
    	<th>Marca</th>
    	<th>Modelo</th>
    	<th>Part number</th>
    	<th>Descrição</th>
    	<th>NS</th>
    	<th>Estado</th>
    </tr>
    {% for e in entidades %}
        <tr {% if not e.patrimonio %}style="font-weight:bold;"{% endif %}>
            <td>{{ e.entidade }}</td>
            <td>{{ e.local }}</td>
            <td>{{ e.patrimonio.historico_atual_prefetched.posicao|default_if_none:'' }}</td>
            <td>{{ e.patrimonio.equipamento.entidade_fabricante.sigla }}</td>
            <td>{{ e.patrimonio.modelo }}</td>
            <td>{{ e.patrimonio.part_number }}</td>
            <td><a href="{% url "admin:patrimonio_patrimonio_change" e.patrimonio.id %}">{{ e.patrimonio.descricao }}</a></td>
            <td>{{ e.patrimonio.ns }}</td>
            <td>{{ e.patrimonio.historico_atual_prefetched.estado }}</td></tr>
    {% endfor %}
    </table>

{% endblock %}
