{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% load url from future %}
{% load i18n proto_tags admin_static %}
{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/racks.css" />
<link rel="stylesheet" type="text/css" href="{% static "css/base-print.css" %}" />
<style type="text/css">
.u {
    background-image: url('{{ STATIC_URL }}img/1u.png');
}
@media print {
  .u,
  .rack,
  .roteador,
  .interno,
  .dc,
  .u-n,
  .bloco-n, .page-break {
        -webkit-print-color-adjust: exact;
  }
  .u {}
  .equip {}
  .roteador {background:#81878b !important;}
  .espaco {}
  .interno {}
  .dc {}
  .u-n {}
  .bloco-n {}
}
</style>
   <script type="text/javascript" src="{{ STATIC_URL }}js/racks.js"></script>
   <script type="text/javascript" src="{{ STATIC_URL }}js/admin/RelatedObjectLookups.js"></script>
{% endblock %}
{% block breadcrumbs %}
	{% if not is_popup %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="/patrimonio/racks"> 
        Diagrama de Racks Frontal
      </a>
    </div>
	{% endif %}
{% endblock %}
{% block content %}

<h1>Diagrama de Racks Frontal</h1>
<form id="form_racks" method="GET">
Data Centers
<select name="dc" onchange="this.form.submit();">
    <option value="0">Todos</option>
{% for dc in todos_dcs %}
   <option value="{{ dc.id }}" {% if request.GET.dc == dc.id|lower %}selected{% endif %}>{{ dc.nome }}</option>
{% endfor %}
</select>
</form>
{% if dcs %}
	{% for dc in dcs %}
	   {% if not forloop.first %}
	       <div class="page-break"></div>
	   {% endif %}
	<div class="dc">
	<h1>{{ dc.nome }}</h1>
	{% for rack in dc.racks %}
		<div class="rack"  style="{% if forloop.counter|divisibleby:2 %}page-break-after:always;{% endif %}">
		    <h2>
		      <a href="{% url "admin:patrimonio_patrimonio_change" rack.id %}" onclick="return showAddAnotherPopup(this);">
		      {{ rack.nome }} ({{ rack.vazio }} ocupado)
		      </a>
		    </h2>
		    <div id="rack{{ dc.id }}_{{forloop.counter}}" class="bloco-n" style="height: {{ rack.altura_pxs }}px;">
		        {% for i in rack.altura_pts|get_range reversed %}
		            <div class="u-n"><div>{{ i|add:"1" }}</div></div>
		        {% endfor %}
		    </div>
		    <div class="u" style="height: {{ rack.altura_pxs }}px;"></div>
		    <div class="interno">
		  {% for eq in rack.equipamentos %}
		       {% if eq.id %}
		           <a href="{% url "admin:patrimonio_patrimonio_change" eq.id %}" onclick="return showAddAnotherPopup(this);">
		       {% endif %}
		       <div class="{% if eq.pos_col %} pos_{{eq.pos_col}} {% endif %} {% if eq.conflito %}conflito{% endif %} {% if eq.descricao %}equip " rel="tooltip" title="{{ eq.descricao }}"{% else %}espaco"{% endif %} 
		           style="margin-top:{{ eq.eixoY }}px; height:{{ eq.altura }}px;">
	               <div>
		               <div style="height:{{ eq.altura }}px;">
		                {% if eq.pos_col %}
		                    {% if eq.tam >= 15 %}
                                {{ eq.descricao|truncatechars:80 }}
                            {% elif eq.tam >= 12 %}
                                {{ eq.descricao|truncatechars:65 }}
                            {% elif eq.tam >= 9 %}
                                {{ eq.descricao|truncatechars:50 }}            
                            {% elif eq.tam >= 6 %}
                                {{ eq.descricao|truncatechars:35 }}
                            {% else %}
                                {{ eq.descricao|truncatechars:20 }}
                            {% endif %}
				        {% else %}
				            {% if eq.tam >= 15 %}
				                {{ eq.descricao|truncatechars:150 }}
				            {% elif eq.tam >= 12 %}
				                {{ eq.descricao|truncatechars:120 }}
				            {% elif eq.tam >= 9 %}
				                {{ eq.descricao|truncatechars:90 }}            
				            {% elif eq.tam >= 6 %}
				                {{ eq.descricao|truncatechars:60 }}
				            {% else %}
				                {{ eq.descricao|truncatechars:30 }}
				            {% endif %}
                        {% endif %}
			            </div>
		            </div>
		            {% if eq.imagem %}<img src="{{ eq.imagem }}" />{% endif %}
		       </div>
		       {% if eq.id %}
		           </a>
		       {% endif %}
		  {% endfor %}
		    </div>
		   <div class="u" style="height: {{ rack.altura_pxs }}px;"></div>
		{% if rack.equipamentos_fora_visao %}
            <div class="outros">
                <div class="outros-content">
                <table>
                    <caption class="outros-title">Outros equipamentos.</caption>
                    <tr>
                        <th>Desc</th>
                        <th>Tam</th>
                        <th>Pos</th>
                        <th>Col</th>
                    </tr>
                    {% for eq in rack.equipamentos_fora_visao %}
                        <tr>
	                        <td>
	    	                    <a href="{% url "admin:patrimonio_patrimonio_change" eq.id %}" onclick="return showAddAnotherPopup(this);">{{ eq.descricao|truncatechars:45 }}</a>
	    	                </td>
	                        <td>{{ eq.tam }}</td>
	                        <td>{{ eq.pos }}</td>
	                        <td>{{ eq.pos_col }}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
           {% endif %}
		{% if rack.conflitos %}
	        <div class="conflitos">
	            <span class="conflitos-title">Avisos!</span>
	            <div class="conflitos-content">
	            <table>
	                <tr>
	                    <th>EQ</th>
	                    <th>Pos</th>
	                    <th>Alt</th>
	                </tr>
	                {% for conflito in rack.conflitos %}
	                    <tr class="conflito-tbl-obs">
	                       <td colspan=3>{{ conflito.obs }}</td>
	                    </tr>
	                    <tr>
	                       {% if conflito.eq1 %}
	                        <td>
	                           <a href="{% url "admin:patrimonio_patrimonio_change" conflito.eq1.id %}" onclick="return showAddAnotherPopup(this);">
	                            {{ conflito.eq1.descricao }}
	                            </a>
	                        </td>
	                        <td>{{ conflito.eq1.pos }}</td>
	                        <td>{{ conflito.eq1.tam }}</td>
	                        {% endif %}
	                    </tr>
	                    <tr>
	                        {% if conflito.eq2 %}
	                        <td>
	                            <a href="{% url "admin:patrimonio_patrimonio_change" conflito.eq2.id %}" onclick="return showAddAnotherPopup(this);">
	                                {{ conflito.eq2.descricao }}
	                            </a>
	                        </td>
	                        <td>{{ conflito.eq2.pos }}</td>
	                        <td>{{ conflito.eq2.tam }}</td>
	                        {% endif %}
	                    </tr>
	                {% endfor %}
	            </table>
	            </div>
	        </div>
	       {% endif %}
		</div>
	{% endfor %}
{% endfor %}
{% else %}
    <button name="Buscar" onclick="document.getElementById('form_racks').submit();">Buscar</button>
{% endif %}
</div>

{% endblock %}
