{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">{% trans "Home" %}</a> &rsaquo; 
      <a href="{% url 'patrimonio.views.por_estado' %}">Patrimônio por estado do item</a>
    </div>
{% endblock %}
{% block content %}
	<form method="GET">
		<label for="id_estado">Estado</label>:
		<select name="estado" id="id_estado">
		    {% for e in estados %}
		        <option value="{{ e.id }}">{{ e }} ({{ e.historicolocal_set.count }})</option>
		    {% endfor %}
		</select>
		<input type="submit" value="Enviar">
	</form>
{% endblock %}
