{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% load i18n admin_modify admin_static %}
{% block extrahead %}
<style>
    form#filtro label { display:inline-block; width: 75px; }
</style>
<script type="text/javascript" src="/media/js/selects.js"></script>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">{% trans "Home" %}</a> &rsaquo; 
      <a href="{% url 'patrimonio.views.por_tipo' %}">Patrimônio por tipo</a>
    </div>
{% endblock %}
{% block content %}
<form id="filtro" method="GET">
<p>
<label for="id_tipo">Tipo*</label>:
<select name="tipo" id="id_tipo" onchange="ajax_get_procedencia_filter_tipo(this.value)">
  {% for t in tipos %}
     <option value="{{ t.id }}">{{ t }}</option>
  {% endfor %}
</select>
</p>
<p>
<label for="id_procedencia">Procedencia</label>:
<select name="procedencia" id="id_procedencia">
    <option value="">Todos</option>
  {% for procedencia in procedencias %}
     <option value="{{ procedencia.id }}">{{ procedencia }}</option>
  {% endfor %}
</select>
</p>
<input type="submit" value="Enviar">
</form>
{% endblock %}
