{% extends 'base.html' %}

{% block conteudo %}
    <h3 style="text-align:center;">Buscar</h3>

	
    <form method="get" action=".">
	
	<div class="busca-interna">
		<label>Termo da busca</label>
            {{ form.q }}
        <button class="btn-search-interna" type="submit" value="Ok" name="search">
    </div>   
        {% if query %}
            <h3 style="text-align:center;">Resultados da pesquisa</h3>

            {% for result in page.object_list %}
                <p class="busca-resultados">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.get_title }}</a>
                </p>
            {% empty %}
                <p class="busca-resultados">Nenhum resultado encontrado</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}