<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

   
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">  
  <link rel="stylesheet" type="text/css" href="/media/css/isms.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  {% block extrahead %}{% endblock %}
  <title>ISA - Information Security Assessment</title>

</head>

<body>

<div id="header">
	<a class="logo" href="http://intranet.ansp.br/isms">Rede ANSP - intranet</a>
	<span class="title-header"><strong>ISA - Information Security Assessment</strong></span>
</div>
{% block content %}
{% endblock %}
</body>
</html>
