<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

   
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">  
  <link rel="stylesheet" type="text/css" href="/media/css/isms.css">
  <title>ISA - Information Security Assessment</title>

</head>

<body>

<div id="header">
	<a class="logo" href="http://intranet.ansp.br">Rede ANSP - intranet</a>
	<span class="title-header"><strong>ISA - Information Security Assessment</strong></span>
</div>	


<br>

<form method="POST">

<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="0">

  <tbody>

    <tr>
      <td class="menu" colspan="3" rowspan="1">ABNT NBR ISO 27001:2006 (Annex A)</td>
      <td class="menu" colspan="1" rowspan="2">Implemented <br>controls</td>
      <td class="menu" colspan="1" rowspan="2">Standard <br> requirements</td>
      <td class="menu" colspan="1" rowspan="2">Mandatory <br> requirements</td>
      <td class="menu" colspan="1" rowspan="2">Notes</td>
      <td class="menu" colspan="2" rowspan="1">Score</td>
    </tr>

    <tr>
      <td class="menu" width="10%">Section</td>
      <td class="menu" colspan="2" rowspan="1">Control</td>
      <td class="menu">Maximum</td>
      <td class="menu">Current</td>
    </tr>
 
    {% for s in sections %}
    <tr>
      <td colspan="1" rowspan="{{ s.rows }}">{{ s.section }}</td>
    </tr>
      {% for sub in s.section.subsection_set.all %}
    <tr>
      <td class="submenu" colspan="8" rowspan="1">{{ sub }}</td>
    </tr>

	{% for iso in sub.iso_set.all %}
    <tr>
      <td colspan="2" rowspan="1">{{ iso }}</td>
      <td style="text-align: center;" colspan="1" rowspan="1">
      {{ iso.form.implemented }}</td>

      <td style="text-align: center;" colspan="1" rowspan="1">
      {{ iso.form.standard }}</td>


      <td style="text-align: center;" colspan="1" rowspan="1">
      {{ iso.form.mandatory }}</td>

      <td style="text-align: center;">{{ iso.form.observation }}</td>
      <td style="text-align: center;">{{ iso.maximum }}</td>
      <td style="text-align: center;">{% if iso.current == -1 %}-{% else %}{{ iso.current }}{% endif %}</td>
      {{ iso.form.section }}{{ iso.form.control }}{{ iso.form.subsection }}
    </tr>

    {% endfor %}{% endfor %}{% endfor %}    

    <tr>
      <td class="menu" colspan="9" rowspan="1"></td>
    </tr>
    <tr>
      <td class="total" colspan="7" rowspan"1">TOTAL</td>
      <td class="total2" style="text-align: center;">{{maximum}}</td>
      <td class="total2" style="text-align: center;">{{current}}</td>
    </tr>

  </tbody>
</table>
<input type="submit" value="Save">
</form>
</body>
</html>
