{% load cache cms_tags intranet_extras menu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br">

{% if perms.intranet %}

<head>
	<title>Intranet ANSP - {% page_attribute page_title %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="Cache-Control" content="no-cache, no-store"/>
	<meta http-equiv="Pragma" content="no-cache, no-store"/>
	<meta name="description" content="{% page_attribute meta_description %}"/>
	<meta name="keywords" content="{% page_attribute meta_keywords %}"/>
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/media/js/selects.js"></script>
	
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.ansp.br/rss/"/>

	<link rel="shortcut icon" href="images/favicon.gif"/>
	<link rel="stylesheet" media="screen" href="/media/css/style.css" type="text/css"/>
	
	<!--[if IE 7]><link rel="stylesheet" media="screen" type="text/css" href="/media/css/style-ie7.css" media="screen" /><![endif]-->
	
	<link rel="stylesheet" media="screen" href="/media/css/photologue.css" type="text/css"/>
        {% block extrahead %}{% endblock %}	
</head>

<body>

<div class="root">

	{% include "header.html" %}

	<div class="col-a">
			<div class="menu">
				{% show_menu 0 1 1 1 %}
			</div> <!-- end menu -->
	</div> <!-- end col-a -->
	
	<div class="content"> 
		{% block conteudo %}
		
		{% endblock %}
        </div> <!-- end content -->
		
		<div class="col-b">
			<div class="">
				<ul class="tools">
                                        {% show_menu_below_id "ferramentas" 0 0 0 0 "cms/submenu_tools.html" %}
                                        {% show_menu_below_id "links-internos" 0 0 0 0 "cms/sub_menu_home.html" %}
				</ul>		
				
				<ul class="menu2">
					<h2><a href="{% page_id_url "suporte" %}">Suporte</a></h2>
				
					{% show_menu_below_id "suporte" 0 0 0 0 "cms/sub_menu_home.html" %}

					<h2><a href="{% page_id_url "desempenho" %}">Desempenho</a></h2>
				
					{% show_menu_below_id "desempenho" 0 0 0 0 "cms/sub_menu_home.html" %}
					
				</ul> 
				
				<ul class="menu3">
					<h2>Links &uacute;teis</h2>
				        {% links_uteis %}	
				</ul>
			
			</div> <!-- end menu -->
		</div> <!-- end col-b -->
		
	<div id="footer">
		
		<span class="copy">Copyright &copy; 2010 - NARA</span> 
		
		<!--<ul class="footer-links">
			<li><a href="#">Home</a></li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="#">Servi&ccedil;os</a></li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="{% page_id_url "entrevistas" %}">Entrevistas</a></li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="#">Monitor</a></li>
			<li>&nbsp;|&nbsp;</li>
			<li><a href="#">Mapa da Rede ANSP</a></li>
		</ul>-->
		
		
		
		<span class="sponsor">
			<a class="logo-ansp" href="http://www.nara.br">ANSP</a>
		</span>
		
	</div> <!-- end footer -->

</div> <!-- end root --> 
	
</body>
{% else %}
<head>
    <meta http-equiv="REFRESH" content="0;url=/accounts/login?next=/">
</head>
{% endif %}
</html>
