{% extends "base.html" %}
{% load intranet_extras cms_tags %}
{% block conteudo %}
   {% placeholder body %}
		
		<div class="diariodebordo">
			<h3>Di&aacute;rio de bordo</h3>
			{% latest_posts 6 %}
			
			<a class="link-acesso" href="http://diariodebordo.ansp.br/wp-login.php?redirect_to=/">Acessar - todas as postagens</a>
		</div>
		
		<div class="comunica-interna">
			<h3>Comunica&ccedil;&atilde;o interna</h3>
			
			{% latest_posts 3 1 %}
			
			<a class="link-acesso" href="http://diariodebordo.ansp.br/wp-login.php?redirect_to=/%3Fcat%3D34">Acessar - todas as postagens</a>
			
		</div>
		<div class="galeria-imagens">
			
			<h3>Galerias de imagens</h3>
			{% latest_photos 6 %}
			
			<a class="link-acesso" href="#">Acessar - todas as fotos</a>
		</div>
	
{% endblock %}	
