{% extends "base.html" %}
{% block conteudo %}

<h3>Membros</h3>

<!-- template para dados dos membros nara/ansp -->
		<div class="tabnav">
			<ul>   
                              {% for cl in cls %}
				<li><a {% if cl.id == atual %}class="tabnav-click"{% endif %} href="{% url intranet.views.membros cl.id %}">{{ cl.nome }}</a></li>
                              {% endfor %}
			</ul>
		</div>
        
		<div class="content-aba">
        {% for membro in membros %}
			<div class="membro-display">
			<img class="membro-imagem" src="/media/{% if membro.foto %}{{ membro.foto }}{% else %}images/rosto.png{% endif %}" />

			<ul class="membro-dados1">
				<li>{{ membro.nome }}</li>
			</ul>
			
			<ul class="membro-dados2">
				<li>{{membro.cargo}}</li>
				{% if membro.data_admissao %}<li>(Admiss&atilde;o em {{ membro.data_admissao|date:"d/m/Y" }})</li>{% endif %}
			</ul>

			<ul class="membro-dados3">
				<li>Data de nascimento - {{ membro.data_nascimento|date:"d/m" }}</li>
				<li>|</li>
				<li>RG:</li>
				<li>{{ membro.rg }}</li>
				<li>|</li>
				<li>CPF:</li>
				<li>{{ membro.cpf }}</li>
			</ul>

			<ul class="membro-dados4">
			<li>ramal {{ membro.ramal }}</li>
			<li>|</li>
			<li><a href="mailto:{{ membro.email }}">{{ membro.email }}</a></li>
			<li>|</li>
			<li><a href="{{ membro.url_lattes }}" target="_blank">cv lattes - {{ membro.nome }}</a></li>
			</ul>

			</div> <!-- fecha div membro-display -->
        {% endfor %}
		</div>

{% endblock %}

<script>
</script>  
