{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% block content %}

<h1>Relatório gerencial do processo {{ termo }}, atualizado em {{ atualizado|date:"d/m/Y" }}</h1>
<h4><a href="{% url 'financeiro.views.relatorio_gerencial' 1 %}?termo={{ termo.id }}">Imprimir</a></h4>

    <table border="1" cellpadding="5">
    <tr><th>Modalidade</th><th>Concessão</th>
    {% for m in meses %}
      <th>{{ m }}</th>
    {% endfor %}
    <th>Total realizado</th><th>Saldo</th></tr>
    {% for m in modalidades %}
	<tr><td class="peq">{{ m.modalidade }}</td><td class="num peq"><b>{{ m.concedido }}</b></td>
	{% for v in m.meses|dictsort:"ord" %}
	  <td>{{ v.valor }}</td>
	{% endfor %}
        <td><b>{{ m.realizado|safe }}</b></td><td><b>{{ m.saldo|safe }}</b></td></tr>
    {% endfor %}
    <tr><td>Total (R$)</td><td><b>{{ gerais.concedido_real|moeda }}</b></td>
    {% for t in totais|dictsort:"ord" %}
        <td><b>{{ t.total_real|moeda }}</b></td>
    {% endfor %}
    <td><b>{{ gerais.gasto_real|moeda }}</b></td><td><b>{{ gerais.saldo_real|moeda }}</b><td>
    </tr>
    <tr><td>Total (US$)</td><td><b>{{ gerais.concedido_dolar|moeda:0 }}</b></td>
    {% for t in totais|dictsort:"ord" %}
        <td><b>{{ t.total_dolar|moeda:0 }}</b></td>
    {% endfor %}
    <td><b>{{ gerais.gasto_dolar|moeda:0 }}</b></td><td><b>{{ gerais.saldo_dolar|moeda:0 }}</b><td>
    </tr>
    </table>

{% for m in modalidades %}
  <h3>{{ m.modalidade.nome }}</h3>
  <table border="1" repeat="1" cellpadding="5">
  </th><th>Quantidade</th><th width="20%">Descrição</th><th>Concessão</th>
    {% for m in meses %}
      <th>{{ m }}</th>
    {% endfor %}
  <th>Total realizado</th><th>Saldo</th></tr>
  {% for it, valores in m.itens.items %}
     <tr><td>{{ it.quantidade }}</td><td>{{ it.descricao }}</td><td><b>{{ it.valor|moeda:m.modalidade.moeda_nacional }}</b></td>
     {% for v in valores|dictsort:"ord" %}<td>{{ v.valor }}</td>{% endfor %}
     <td><b>{{ it.mostra_valor_realizado }}</b></td><td><b>{{ it.saldo|moeda:m.modalidade.moeda_nacional }}</b></td></tr>
  {% endfor %}
  </table>
{% endfor %}
{% endblock %}
