{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% load admin_static admin_list i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">{% trans "Home" %}</a> &rsaquo; 
      <a href="{{ request.get_full_path }}">Relatório</a>
    </div>
{% endblock %}
{% block content %}
</style>
<form method="GET">
{% if meses %}<label for="id_mes">Mês (escolha '0' para todos os meses):</label>
<select name="mes" id="id_mes">
  {% for mes in meses %}
     <option value="{{ mes }}">{{ mes }}</option>
  {% endfor %}
</select>
{% endif %}
<label for="id_termo">Termo de outorga:</label>
<select name="termo" id="id_termo">
  {% for t in termos %}
     <option value="{{ t.id }}">{{ t }}</option>
  {% endfor %}
</select>
{% if rt != None %}
<label for="id_rt">Reserva técnica?</label>
<input type="checkbox" name="rt">
</label>
{% endif %}
<input type="submit" value="Enviar">
</form>
{% endblock %}
