{% extends "admin/base_site.html" %}
{% block content %}
<form method="GET">
{% if meses %}<label for="id_mes">Mês (escolha '0' para todos os meses):</label>

<select name="mes" id="id_mes">
  {% for mes in meses %}
     <option value="{{ mes }}">{{ mes }}</option>
  {% endfor %}
</select>
{% endif %}
<label for="id_termo">Termo de outorga:</label>
<select name="termo" id="id_termo">
  {% for t in termos %}
     <option value="{{ t.id }}">{{ t }}</option>
  {% endfor %}
</select>
<input type="submit" value="Enviar">
</form>
{% endblock %}
