{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% load i18n %}
{% block breadcrumbs %}
    <div class="breadcrumbs">Você está em: 
      <a href="../../">{% trans "Home" %}</a> &rsaquo; 
      <a href="{% url 'financeiro.views.extrato' %}">Extrato da conta corrente</a> &rsaquo;
    </div>
{% endblock %}
{% block content %}
<h1>Extrato da conta corrente</h1>
<p>Selecione o ano:</p>
<form method="GET">
<select name="ano" id="id_ano">
  {% for ano in anos %}
     <option value="{{ ano }}">{{ ano }}</option>
  {% endfor %}
</select>
<input type="submit" value="Enviar">
</form>
{% endblock %}
