{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% block breadcrumbs %}<div class="breadcrumbs">Você está em: <a href="/verificacao/relatorio/equipamento_consolidado">Relatório de verificação de equipamentos</a></div>{% endblock %}
{% block content %}
<style>
 #table-data th {
    background-color: lightgray;
    border: 1px #aaa dotted;
}

 #table-data td {
    border:1px;
    border-color: lightgray;
    border-style: dotted;
}
</style>
<h1 repeat="1">Relatório de verificação de equipamentos - {{ desc }}</h1>

    <table id="table-data" border="0" cellpadding="5">
      <tr>
           <th>ID</th>
           <th>Desc</th>
           <th>Part Number</th>
           <th>Model</th>
      </tr>
    {% for eq_group in equipamentos %}
        {% if eq_group.0.part_number %} 
         <tr>
            <td colspan=4 style="background-color:AliceBlue; font-weight:bold">{{ eq_group.0.part_number}}</td>
          </tr>
         {% endif %}
	    {% for eq in eq_group %}
		   <tr>
		       <td><a href="{{ model.admin_url }}/patrimonio/equipamento/{{ eq.id }}/">{{ eq.id }}</a></td>
		       <td><a href="{{ model.admin_url }}/patrimonio/equipamento/{{ eq.id }}/">{{ eq.descricao }}</a></td>
		       <td>{{ eq.part_number }}</td>
		       <td>{{ eq.modelo }}</td>
		  </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock %}
