{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
<script type="text/javascript">
$(document).ready(function() {
    $("#filtro_tipo_patrimonio").change(function(){
        $("#form-filter").submit();
    });
});
</script>


    <table>
        <tr><th>Filtro</th></tr>
        <tr><td>
            <form id="form-filter" method="GET">
            <select id="filtro_tipo_patrimonio" name="filtro_tipo_patrimonio">
                <option value="">---</option>
                {% for filtro_tipo in filtros.tipos %}
                    <option value="{{filtro_tipo.id}}" {% if filtro_tipo.id|stringformat:"d" == request.GET.filtro_tipo_patrimonio %}selected{% endif %}>{{ filtro_tipo.nome }}</option>
                {% endfor %}
            </select>
            </form>
        </td></tr>
    </table>