{% extends "admin/base_site.html" %}
{% load proto_tags %}
{% block content %}
<h1 repeat="1">Versão de aplicativos do Sistema</h1>
    <table border="0" cellpadding="5">
      <tr>
           <th>Desc</th>
           <th>Versao</th>
      </tr>
      <tr>
           <td>Django</td>
           <td>{{ django_version }}</td>
      </tr>
      <tr>
           <td>Python</td>
           <td>{{ python_version }}</td>
      </tr>
      <tr>
           <td>Banco de Dados</td>
           <td>{{ db_version }}</td>
      </tr>
      
    </table>
{% endblock %}
