{% extends "admin/base_site.html" %}
{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% load proto_tags %}
{% block content %}
<h1 repeat="1">Versão de aplicativos do Sistema</h1>
    <table border="0" cellpadding="5">
      <tr>
           <th>Desc</th>
           <th>Versao</th>
      </tr>
      <tr>
           <td>Django</td>
           <td>{{ django_version }}</td>
      </tr>
      <tr>
           <td>Python</td>
           <td>{{ python_version }}</td>
      </tr>
      <tr>
           <td>Banco de Dados</td>
           <td>{{ db_version }}</td>
      </tr>
      
    </table>
{% endblock %}
