    {% for pt_group in patrimonios %}
        {% for pt in pt_group %}
           <tr class="tr_data">
               <td><a href="{{ model.admin_url }}/admin/patrimonio/patrimonio/{{ pt.id }}/">{{ pt.id }}</a></td>
               <td class="td_descricao"><a href="{{ model.admin_url }}/admin/patrimonio/patrimonio/{{ pt.id }}/">{{ pt.descricao }}</a></td>
               <td class="td_part_number"><a href="{{ model.admin_url }}/admin/patrimonio/patrimonio/{{ pt.id }}/">{{ pt.part_number }}</a></td>
               <td class="td_modelo"><a href="{{ model.admin_url }}/admin/patrimonio/patrimonio/{{ pt.id }}/">{{ pt.modelo }}</a></td>
               <td class="td_marca"><a href="{{ model.admin_url }}/admin/patrimonio/patrimonio/{{ pt.id }}/">{{ pt.marca }}</a></td>
               <td class="td_ncm"><a href="{{ model.admin_url }}/admin/patrimonio/patrimonio/{{ pt.id }}/">{{ pt.ncm }}</a></td>
               <td class="td_buttons">
                    <span style="white-space:nowrap">
                        <button id="btn_to_pt_{{pt.id}}" type="button"  title="Copiar para o patrimonio" class="btn_to_pt"><<</button>
                        <button id="btn_to_eq_{{pt.id}}" type="button" title="Copiar para o equipamento" class="btn_to_eq">>></button>
                    </span>
               </td>
               <td><a href="{{ model.admin_url }}/admin/patrimonio/equipamento/{{ pt.equipamento.id }}/">{{ pt.equipamento.id }}</a></td>
               <td class="td_descricao"><a href="{{ model.admin_url }}/admin/patrimonio/equipamento/{{ pt.equipamento.id }}/">{{ pt.equipamento.descricao }}</a></td>
               <td class="td_part_number"><a href="{{ model.admin_url }}/admin/patrimonio/equipamento/{{ pt.equipamento.id }}/">{{ pt.equipamento.part_number }}</a></td>
               <td class="td_modelo"><a href="{{ model.admin_url }}/admin/patrimonio/equipamento/{{ pt.equipamento.id }}/">{{ pt.equipamento.modelo }}</a></td>
               <td class="td_marca"><a href="{{ model.admin_url }}/admin/patrimonio/equipamento/{{ pt.equipamento.id }}/">{{ pt.equipamento.marca }}</a></td>
               <td class="td_ncm"><a href="{{ model.admin_url }}/admin/patrimonio/equipamento/{{ pt.equipamento.id }}/">{{ pt.equipamento.ncm }}</a></td>

          </tr>
        {% endfor %}
    {% endfor %}