{% extends "admin/base_site.html" %}
{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% load proto_tags %}
{% block content %}
<style>
    table {
        width: 350px;
    }
	form {
		width: 350px;
	}
	input {
		border: 1px lightgray solid;
	}
</style>
<h1 repeat="1">Carga de patrimonio</h1>

<br>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
{{ form }}
<br>
<br>
<input type="submit" value="Enviar">
</form>
<br>
<h4>O arquivo CSV deve conter as colunas na seguinte ordem:</h4>
<ul>
<li>Check</li>
<li>Modelo</li>
<li>Part Number</li>
<li>Revisão</li>
<li>Versão</li>
<li>EAN</li>
<li>N. de série</li>
<li>Service Tag</li>
<li>Marca/Fabricante</li>
<li>Nota fiscal</li>
<li>Data</li>
<li>NCM/SH</li>
<li>O_CST</li>
<li>CFOP</li>
<li>Unidade</li>
<li>Quantidade</li>
<li>Volume</li>
<li>Processo Fapesp</li>
<li>Garantia</li>
<li>Termino de Garantia</li>
<li>Descricao NF</li>
<li>Propriedade</li>
<li>Patrimonio</li>
<li>Estado</li>
<li>Enviado</li>
<li>Instalado</li>
<li>Site - localizacao</li>
<li>Localizacao</li>
<li>Cage</li>
<li>Rack</li>
<li>Furo</li>
<li>Posicao</li>
<li>Inventariado</li>
<li>Observacao</li>
<li>Atualizado</li>
<li>ID do patrimonio</li>
</ul>


{% if success %}
<table>
    <tr>
        <th>Novos Patrimonios</th>
        <th>Com patrimonio</th>
        <th>Sem patrimonio</th>
    </tr>
    <tr>
        <th><a href="list_planilha_patrimonio">{{novos_patrimonios}}</a></th>
        <th><a href="list_planilha_patrimonio">{{com_patrimonio}}</a></th>
        <th><a href="list_planilha_patrimonio">{{sem_patrimonio}}</a></th>
    </tr>
</table>
{% endif %}
{% endblock %}
