{% comment %}
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
{% endcomment %}
{% extends "admin/base_site.html" %}
{% load i18n proto_tags admin_static %}
{% block content %}
<style>
 table {
    width:200px;
    white-space:nowrap;
 }
 th {
    background-color:#efefef;
    vertical-align:middle;
 }
 td {
    border: 1px dotted gray;
 }
 
 .td_descricao {
    min-width:350px;
    white-space:normal;
 }
 
 .ok {
    background-color:lightgreen;
 }
 .nok {
    background-color:lightpink;
 }
 
 .patr {
    cursor:pointer;
 }
 /* Sobrescreve o pointer para none para as linhas que não tiverem o patrimonio */
 #tr_None .patr {
    cursor:default;
 }
</style>
<script type="text/javascript">
$(function(){
   /**
    * Eventos para esconder as colunas de patrimonio
    */
   $("#filtros button").click(function(){
        var filtroColunas = $("#slct_colunas option:selected").val() || [];
        
        var selO = document.getElementById('slct_colunas');
	    var selValues = [];
	    for(i=0; i < selO.length; i++){
	        if(selO.options[i].selected){
	           $('.td_'+selO.options[i].value).hide();
	        } else {
	           $('.td_'+selO.options[i].value).show();
	        }
	    }
   });
   
   /**
    * Eventos para colocar link nas células de patrimonio
    */
    
   $(".patr").click(function () {
        id = $(this).closest("tr").attr('id');
        ids = id.split("__")
        if (ids.length == 2) {
	        patrimonio_id = ids[0]
	        equipamento_id = ids[1]
        	if ($(this).hasClass('td_url')) {
        	    window.open('/patrimonio/equipamento/'+equipamento_id, '_blank');
        	} else {
                window.open('/patrimonio/patrimonio/'+patrimonio_id, '_blank');
        	}
	    }
   });
    
});



</script>
<h1 repeat="1">Lista de dados da carga de patrimonio</h1>
<a href="upload_planilha_patrimonio">Enviar arquivo de carga.</a>
<div id="filtros">
<h4>Filtro</h4>
<select id="slct_colunas" name="colunas" multiple size="5">
    <option value="patrimonio">Patrimonio</option>
    <option value="marca">Marca</option>
    <option value="modelo">Modelo</option>
    <option value="pn">Part Number</option>
    <option value="sn">Serial Number</option>
    <option value="cage">Cage</option>
    <option value="rack">Rack</option>
    <option value="furo">Furo</option>
    <option value="posicao">Posição</option>
    <option value="descricao">Descrição</option>
    <option value="estado">Estado</option>
    <option value="url">URL Equip.</option>
</select>
<button>Esconder colunas</button>
</div>

<br>
<table>
    <tr>
        <th>Com patrimonio</th>
        <th>Sem patrimonio</th>
        <th>Total</th>
    </tr>
    <tr>
        <td><a href="list_planilha_patrimonio?chk_patrimonio_vazio=0">{{com_patrimonio}}</a></td>
        <td><a href="list_planilha_patrimonio?chk_patrimonio_vazio=1">{{sem_patrimonio}}</a></td>
        <td><a href="list_planilha_patrimonio">{{com_patrimonio|add:sem_patrimonio}}</a></td>
    </tr>
</table>
<table id="tbl_content">
    <tr>
        <th><a href="?&ord=">Linha</a></th>
        
        <th class="td_marca">Marca</th>
        <th class="td_modelo">Modelo</th>
        <th class="td_pn">Part Number</th>
        <th class="td_sn">Serial Number</th>
        
        <th class="td_cage">Cage</th>
        <th class="td_rack"><a href="?&ord=rack&chk_patrimonio_vazio={{chk_patrimonio_vazio}}">Rack</a></th>
        <th class="td_furo">Furo</th>
        <th class="td_posicao">Posição</th>
        <th class="td_descricao">Descrição</th>
        <th class="td_estado">Estado</th>
        
        <th class="td_marca">Marca</th>
        <th class="td_modelo">Modelo</th>
        <th class="td_pn">Part Number</th>
        <th class="td_sn">Serial Number</th>
        
        <th class="td_cage">Cage</th>
        <th class="td_rack">Rack</th>
        <th class="td_furo">Furo</th>
        <th class="td_posicao">Posição</th>
        <th class="td_descricao">Descrição</th>
        <th class="td_estado">Estado</th>

        <th class="td_patrimonio"><a href="?&ord=patrimonio&chk_patrimonio_vazio={{chk_patrimonio_vazio}}">Patrimonio</a></th>
    </tr>
    {% for p in inventario %}
	    <tr id="{{ p.patrimonio_model_id }}__{{ p.patrimonio_model.equipamento_id }}">
	       <td>{{ p.planilha_linha }}</td>
	       
	       <td class="td_marca">{{ p.fabricante|default:"" }}</td>
	       <td class="td_modelo">{{ p.model_number|default:"" }}</td>
	       <td class="td_pn">{{ p.part_number|default:"" }}</td>
	       <td class="td_sn">{{ p.serial_number|default:"" }}</td>
	       
	       <td class="td_cage">{{ p.cage|default:"" }}</td>
	       <td class="td_rack">{{ p.rack|default:"" }}</td>
	       <td class="td_furo">{{ p.furo|default:"" }}</td>
	       <td class="td_posicao">{{ p.posicao|default:"" }}</td>
	       <td class="td_descricao">{{ p.descricao|default:"" }}</td>
	       <td class="td_estado">{{ p.estado|default:"" }}</td>
	       
	       <td class="patr td_marca {% if p.patrimonio_model and p.fabricante|default:"" == p.patrimonio_model.marca|default:"" %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.marca }}</td>
	       <td class="patr td_modelo {% if p.patrimonio_model and p.model_number|default:"" == p.patrimonio_model.modelo|default:"" %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.modelo }}</td>
	       <td class="patr td_pn {% if p.patrimonio_model and p.part_number|default:"" == p.patrimonio_model.part_number|default:"" %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.part_number }}</td>
	       <td class="patr td_sn {% if p.patrimonio_model and p.serial_number|default:"" == p.patrimonio_model.ns|default:"" %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.ns }}</td>

           <td class="patr td_cage {% if p.patrimonio_model and p.cage in p.patrimonio_model.historico_atual.endereco.complemento %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.historico_atual.endereco.complemento|default:"" }}</td>
           <td class="patr td_rack {% if p.patrimonio_model and p.rack == p.patrimonio_model.historico_atual.posicao_rack %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.historico_atual.posicao_rack|default:"" }}</td>
           <td class="patr td_furo {% if p.patrimonio_model and p.furo|default:"-1"|add:"0" == p.patrimonio_model.historico_atual.posicao_furo|add:"0" %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.historico_atual.posicao_furo|default:"" }}</td>
           <td class="patr td_posicao {% if p.patrimonio_model and p.posicao == p.patrimonio_model.historico_atual.posicao_colocacao %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.historico_atual.posicao_colocacao|default:"" }}</td>
           <td class="patr td_descricao {% if p.patrimonio_model and p.descricao|slugify|default:"" == p.patrimonio_model.descricao|slugify|default:"" %} ok {% else %} nok {% endif %}">{{p.patrimonio_model.descricao|default:"" }}</td>

           <td class="patr td_estado{% if p.patrimonio_model and p.estado|slugify|default:"" == p.patrimonio_model.historico_atual.estado|slugify|default:"" %} ok {% else %} nok {% endif %}">{{ p.patrimonio_model.historico_atual.estado }}</td>
           
	       <td class="patr td_patrimonio">{{ p.patrimonio_model.id }}</td>
	    </tr>
    {% endfor %}

</table>
{% endblock %}
