{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if change %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<font size="2">
<p>Prezado(a) colega,</p>
<p align=justify>&nbsp;&nbsp;&nbsp;&nbsp;Este question&aacute;rio faz parte do Sistema de Gest&atilde;o de Seguran&ccedil;a da Informa&ccedil;&atilde;o (SGSI) em desenvolvimento no NETI. Ele foi elaborado para avaliar o ambiente organizacional e visa efetuar melhorias em processos.</p>
<p align=justify>&nbsp;&nbsp;&nbsp;&nbsp;As perguntas de n&uacute;mero 1, 2, 3, 4 e 5 s&atilde;o de car&aacute;ter geral. As perguntas de 6 a 20 s&atilde;o espec&iacute;ficas do escopo do projeto, que trata das rotinas de backup dos servidores sob responsabilidade do NETI.</p>
<p align=justify>&nbsp;&nbsp;&nbsp;&nbsp;Voce n&atilde;o levar&aacute; mais do que 10 minutos para respond&ecirc;-lo. Quando n&atilde;o souber ou n&atilde;o tiver opini&atilde;o, assinale a alternativa <b>N&atilde;o concordo nem discordo</b>. Suas respostas s&atilde;o an&ocirc;nimas. Este question&aacute;rio ficar&aacute; ativo at&eacute; o dia 18/06/2010.</p>
<p>Atenciosamente,</p>
<p><b>Carlos Eduardo Ribas.</b></p>
<br><br>
</font>
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and change %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}