.tooltip{
   position:absolute;
   display:none;
   padding: 10px 30px;
   background:#00f;
   color:#fff;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border-radius:5px;
}

.tabela tr { height:5px; }


.u {
    background:white repeat-y;
    display:inline-block;
    width:7px;
    /*
    height:798px;
    */
    vertical-align:top;

}
.bloco-n {
    display:inline-block;
    width:20px;
    /*
    height:798px;
    */
    background-color:white;
    margin-right:7px;
    vertical-align:top;
    border-bottom:1px solid;
    border-color: #999a9a;
    
}

.bloco-n .u-n {
    width:19px;
    height:19px;
    background:#d8d8d8;
    color:#636363;
    font:8px Verdana,Arial;
    border-top:0;
    border-right:1px;
    border-bottom:0;
    border-left:1px; 
    border-style:solid; 
    font-size:9px;
}
.bloco-n .u-n div {
	border-top: 1px solid;
	vertical-align: middle;
	text-align: center;
	line-height: 18px;
	}
.rack {
	width:255px;
	display:inline-table;
	margin-right:10px;
	margin-top:20px;
	margin-bottom:30px;
    font-size:0;
}
.rack h2 a:link,
.rack h2  a:visited,
.rack h2  a:hover,
.rack h2  a:active {
   color:#333;  
} 
.interno {
	position:relative;
    display:inline-block;
    width:199px;
    margin-left:1px;
    margin-right:4px;
    font-size:10px;
    
}
.interno a:link,
.interno a:visited,
.interno a:hover,
.interno a:active {
   color:#FFF;
}
.interno a img {
    position:absolute;
    z-index: 5;
    width:100%;
    height:100%;
}
.interno a div {
    position:absolute;
    z-index: 10;
}
.interno a div div div:nth-child(1) {
    position:relative;
    display: table-cell;
    vertical-align:middle;
    line-height: 1.5em;
    width: 199px;
    text-align: center;
}

.interno a div div div:nth-child(2) {
    position: absolute;
	top: 0;
	left: 0;
    vertical-align:middle;
    line-height: 1.5em;
    width: 199px;
    text-align: center;
    display:none;
}
	
@media screen {
	.interno a div div div {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, -2px 0 1px black, 0 2px 1px black, 2px 0 1px black, 0 -2px 1px black;
	}
}
.equip {
    display:inline-block;
    background:#81878b;
    width:199px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    padding-right:1px; 
    padding-left:1px; ;
    vertical-align:middle; 
    line-height:1.5em;
}
.interno a div div div:nth-child(1).pos_01,
.interno a div div div:nth-child(2).pos_01,
.equip.pos_01 {
	width:97px;
	font-size: 9px;
}
.interno a div div div:nth-child(1).pos_02,
.interno a div div div:nth-child(2).pos_02,
.equip.pos_02 {
	right:0;
	width:97px;
	padding-right: 0;
	margin-right: 0;
	font-size: 9px;
}
.interno a div div div:nth-child(1).pos_03,
.interno a div div div:nth-child(2).pos_03,
.equip.pos_03 {
	
}
.equip.conflito {
	border:2px red solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 1px;
}
.espaco {
    width:100%;
    display:none;
    background:#fff;
 }
.dc {
    margin-top:50px;
}
.conflitos-title {
    position:relative;
    color: red;
    cursor:pointer
}
.conflitos {
    font-size:11px;	
}
.conflitos table {
    border-collapse: collapse; 
}
.conflitos-content {
	display:none;
}
.conflitos .conflito-tbl-obs {
	 border-top:1px black solid; 
	 font-weight:bold;
}

.outros caption {
	display:block;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
.outros table {
	margin-left:0;
	margin-right:0;
	margin-bottom:10px;
	margin-top:10px;
	width:100%;
	border-collapse: collapse;
}
.outros th,
.outros td {
	border: 1px dotted;
}
#chk_stencil+span,
#chk_legenda+span,
#chk_legenda_desc+span {
	cursor:pointer;
}
#icons img {
	width:30px;
	height:35px;
}
@media print {
	.page-break {
		page-break-after:always;
	}
	/* escurece a imagem para dar contraste com a cor branca da fonte */
	.interno a img {
	    opacity:0.6;
	    filter:alpha(opacity=60);
	    background-color:black;
	}
	.conflitos-title {
	   display:none;
	}
	.equip.conflito {
	   border: 0;
	}
	.interno a div div div {
        font-weight:bold;
    }
}

