.tooltip{
   position:absolute;
   display:none;
   pchangeing: 10px 30px;
   background:#00f;
   color:#fff;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border-radius:5px;
}

.tabela tr { height:5px; }